
.services {
  display: flex;
  flex-direction: column;
}



.services__title {
  font-size: 49px;
  font-weight: bold;
  letter-spacing: 1.47px;
  text-align: left;
  color: #221f1f;
  margin-bottom: 50px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  max-width: 250px;
  padding-bottom: 47px;
}

.services__content {
  font-size: 24px;
  font-weight: bold;
  height: 153px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__fitness {
  background: linear-gradient(rgba(41, 39, 39, 0.5),rgba(41, 39, 39, 0.5)), url('../../img/services/fitnes.png') center center no-repeat;
}
.services__nutrition {
  background: linear-gradient(rgba(41, 39, 39, 0.5),rgba(41, 39, 39, 0.5)), url('../../img/services/nutritionist.png') center center no-repeat;
}
.services__yoga {
  background: linear-gradient(rgba(41, 39, 39, 0.5),rgba(41, 39, 39, 0.5)), url('../../img/services/yoga.png') center center no-repeat;
}
.services__trx {
  background: linear-gradient(rgba(41, 39, 39, 0.5),rgba(41, 39, 39, 0.5)), url('../../img/services/trx.png') center center no-repeat;
}
.services__crossfit {
  background: linear-gradient(rgba(41, 39, 39, 0.5),rgba(41, 39, 39, 0.5)), url('../../img/services/crossfit.png') center center no-repeat;
}
.services__pool {
  background: linear-gradient(rgba(41, 39, 39, 0.5),rgba(41, 39, 39, 0.5)), url('../../img/services/pool.png') center center no-repeat;
}

.services____desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color:#221f1f
}

.services__subtitle {
  font-size: 18px;
  font-weight: bold;
  padding: 28px 0 15px;
}

.services__message {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}